################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ASP103/bin/Debug/netcoreapp2.1
/ASP103/obj
/ASP103/bin/Release/netcoreapp2.1
